---
title: Techlahoma - Code of Conduct
---
<!-- Features Wrapper -->
<div id="features-wrapper">

  <section  id="features" class="container">
    <h2>Code of Conduct</h2>
    We expect all participants will be considerate, respectful, and collaborative at all community events.
    <br/>
    The CoC applies to all participants. Participants include attendees, speakers, organizers, volunteers, sponsors, vendors and staff.
    <br/>
    The CoC applies at all official and unofficial events. Unofficial events include any location where attendees may be congregating.
<br/>

<br/>
    <h2>Anti-Harassment Policy</h2>

    Our Anti-Harassment Policy prohibits the following:
<ul>
    <li>Offensive comments related to gender, sexual orientation, race, religion, disability</li>
    <li>Inappropriate use of sexual images (including in presentations)</li>
    <li>Deliberate intimidation, stalking, or following</li>
    <li>Harassing photography or recording</li>
    <li>Inappropriate physical contact, and unwelcome sexual attention</li>
    <li>Sustained disruption of talks or events</li>
    <li>Harassing, abusive, discriminatory, or derogatory conduct</li>
</ul>
<br/>

    <h2>Expectations for our Community</h2>

    <h3>Organizers/Volunteers</h3>
    <ul>
      <li>Be alert and attempt to intervene in preventing or stopping harassment</li>
      <li>Take appropriate action against unacceptable behavior</li>
      <li>Expel harassing participants from the event without warning or refund</li>
      <li>Provide escorts to or from venues to cars, hotels, etc</li>
      <li>Contact local law enforcement or venue security</li>
      <li>Assist those experiencing harassment to be safe and feel safe for the duration of the event</li>
  </ul>

    <h3>Participants</h3>
  <ul>
    <li>Be considerate, respectful, and collaborative</li>
    <li>Refrain from demeaning, discriminatory, or harassing behavior and speech</li>
    <li>Act and engage in an authentic and active way to help to foster our community</li>
    <li>Be mindful of surroundings and of fellow participants</li>
    <li>Alert meeting organizers and volunteers of dangerous situations or if someone is in distress</li>
  </ul>

    <h3>Sponsors (vendors, staff)</h3>
  <ul>
    <li>Will not use any inappropriate and offensive material</li>
    <li>Will not use any sexualised images or activities</li>
    <li>Will not use any sexualised clothing/uniforms/costumes</li>
  </ul>
    -----

    <h4>About our Community CoC</h4>
    This work is licensed under a Creative Commons Attribution 3.0 Unported License
    <br/>
    Current Techlahoma Event Code of Conduct based on our friends in <a href="http://www.okcruby.org"> okcruby</a> and <a href="http://jsconf.com/codeofconduct.html">JS Conf/Ada Iniative</a>.
  </section>
</div>
