---
title: Techlahoma - Code of Conduct
---
<!-- Features Wrapper -->
<div id="features-wrapper">

  <section  id="features" class="container">
    <h2>Code of Conduct</h2>
    We expect all participants will be considerate, respectful, and collaborative at all community events.

    The CoC applies to all participants. Participants include attendees, speakers, organizers, volunteers, sponsors, vendors and staff.

    The CoC applies at all official and unofficial events. Unofficial events include any location where attendees may be congregating.

    <h2>Anti-Harassment Policy</h2>

    Our Anti-Harassment Policy prohibits the following:
<ul>
    <li>Offensive comments related to gender, sexual orientation, race, religion, disability</li>

    <li>Inappropriate use of sexual images (including in presentations)</li>

    <li>Deliberate intimidation, stalking, or following</li>

    <li>Harassing photography or recording</li>

    <li>Inappropriate physical contact, and unwelcome sexual attention</li>

    <li>Sustained disruption of talks or events</li>

    <li>Harassing, abusive, discriminatory, or derogatory conduct</li>
</ul>
    <h2>Expectations for our Community</h2>

    <h3>Expectations for Organizers/Volunteers</h3>

    Event organizers/volunteers will:
    <ul>
      <li>Contact local law enforcement or venue security</li>

      <li>Provide escorts</li>

      <li>Assist those experiencing harassment to feel safe for the duration of the event</li>
  </ul>
    The event organizers/volunteers will take appropriate action against unacceptable behavior.
    <br/>
    Organizers may expel participants from the event without warning or refund.


    <h3>Expectations for Everyone</h3>
  <ul>
    At all community and social events we expect everyone will:

   <li>Be considerate, respectful, and collaborative</li>

    <li>Refrain from demeaning, discriminatory, or harassing behavior and speech</li>

    <li>Act and engage in an authentic and active way to help to foster our community</li>

    <li>Be mindful of your surroundings and of your fellow participants</li>

    <li>Alert meeting organizers and volunteers if you notice a dangerous situation or someone in distress</li>
  </ul>
    <h3>Expectations for Sponsors, Staff</h3>
  <ul>
    Sponsors (otherwise known as vendors, booth staff) and other staff are subject to the anti-harassment policy.
    <br/>
    Sponsors and staff agree to the following:

    <li>No Inappropriate and offensive material</li>

    <li>No sexualised images or activities</li>

    <li>No sexualised clothing/uniforms/costumes</li>
  </ul>
    -----

    <h4>About our Community CoC</h4>
    Current Techlahoma Event Code of Conduct based on our friends in <a href="http://www.okcruby.org/about/"> OKCrb</a>, <a href="http://burlingtonruby.com/conduct.html">Burlington Ruby</a>, and <a href="http://2012.jsconf.us/#/about">JS Conf/Ada Iniative</a>.
<br/>
    This work is licensed under a Creative Commons Attribution 3.0 Unported License

  </section>
</div>
