---
title: Techlahoma - Code of Conduct
---
<!-- Features Wrapper -->
<div id="features-wrapper">

  <section  id="features" class="container">
	<h1>Techlahoma Code of Conduct</h1>
	<p>
	We expect all user group participants to help us realize a safe and positive experience for everyone. At all meetings and social events we expect everyone will:
	</p>
	<p>
	<strong>Be considerate, respectful, and collaborative.</strong>
	</p>
	<p>
	<strong>Refrain from demeaning, discriminatory, or harassing behavior and speech.</strong>
	</p>
	<p>
	<strong>Be mindful of your surroundings and of your fellow participants. Alert meeting organizers if you notice a dangerous situation or someone in distress.</strong>
	</p>
	<p>
	<strong>Participate in an authentic and active way. In doing so, you help to create our use group and make it your own.
	</strong>
	</p>
	<p>
	Unacceptable behaviors include harassing, abusive, discriminatory, or derogatory conduct. Harassment includes: offensive comments related to gender, sexual orientation, race, religion, disability; inappropriate use of sexual images (including in presentations); deliberate intimidation, stalking, or following; harassing photography or recording; sustained disruption of talks or events; inappropriate physical contact, and unwelcome sexual attention.
	</p>
	<p>
	Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualised images, activities, or other material. Booth staff (including volunteers) should not use sexualised clothing/uniforms/costumes, or otherwise create a sexualised environment.
	</p>
	<p>
	These behaviors will not be tolerated and anyone asked to stop is expected to comply immediately. If a participant behaves unacceptably, the conference organizers may take action they deem appropriate, including expulsion from the event without warning or refund.
	</p>
	<p>
	User Group volunteers will be happy to help participants contact venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the event. We value you and your experience.
	</p>
	<p>
	We expect participants to follow these rules at user group events and workshop venues and meeting-related social events. The CoC applies to all attendees, speakers, volunteers, sponsors, and vendors at official and unofficial events and any location where attendees may be congregating. 
	</p>
	<p>
	Current <strong>Techlahoma Code of Conduct</strong> based on our Ruby friends in Oklahoma (<a href="http://www.okcruby.org/about/">http://www.okcruby.org/about/</a>), Vermont (<a href="http://burlingtonrubyconference.com/conduct.html">http://burlingtonrubyconference.com/conduct.html</a>), and JS Conf/Ada Iniative (<a href="http://jsconf.com/codeofconduct.html">http://jsconf.com/codeofconduct.html</a>).
	</p>
	<p>
	This work is licensed under a Creative Commons Attribution 3.0 Unported License.
	</p>

  </section>
</div>