---
title: Welcome to Techlahoma
---

<!-- Features Wrapper -->
<div id="features-wrapper">

	<!-- Features -->
		<section id="features" class="container">
			<header>
				<h2>Our community built with <strong>Your Support</strong>!</h2>
			</header>
			<div class="row">
				<div class="4u">

					<!-- Feature -->
						<section>
							<span href="#" class="image image-full"><img src="images/meets/proto1.jpg" alt="" /></span>
							<header>
								<h3>Mission</h3>
							</header>
							<p>Our aim is to make Oklahoma a centralized, habitable, tech hub for decades to come. Join us as we unite a community of makers!</p>
						</section>

				</div>
				<div class="4u">

					<!-- Feature -->
						<section>
							<span href="#" class="image image-full"><img src="images/meets/proto2.jpg" alt="" /></span>
							<header>
								<h3>Resources</h3>
							</header>
							<p>With multiple events happening monthly, we play a part in hundreds of educational hours being brought into our community.</p>
						</section>

				</div>
				<div class="4u">

					<!-- Feature -->
						<section>
							<span href="#" class="image image-full"><img src="images/meets/proto3.jpg" alt="" /></span>
							<header>
								<h3>Fireworks</h3>
							</header>
							<p>Your support and contributions helps us put on the premier web technology conference in Oklahoma - <a href= "http://thunderplainsconf.com/">Thunder Plains</a>.</p>
						</section>

				</div>
			</div>
		</section>

</div>


<!-- Banner Wrapper -->
	<div id="banner-wrapper">
		<div class="inner">

			<!-- Banner -->
				<section id="banner" class="container">
					<p>When we help each other <strong>learn together</strong>,<br />
					we end up suceeding together.</p>
				</section>

		</div>
  </div>

  <section id="officer-wrapper">
    <div class="inner container">

      <h2>Officers</h2>

      <div class="officer">
        <h3>President</h3>
        <h4>Jesse Harlin</h4>
        <a href="http://twitter.com/5imian">@5imian</a>
      </div>

      <div class="officer">
        <h3>Vice President</h3>
        <h4>Rob Sullivan</h4>
        <a href="http://twitter.com/DataChomp">@DataChomp</a>
      </div>

      <div class="officer">
        <h3>Treasurer</h3>
        <h4>Vance Lucas</h4>
        <a href="http://twitter.com/vlucas">@vlucas</a>
      </div>

      <div class="officer">
        <h3>Secretary</h3>
        <h4>Amanda Harlin</h4>
        <a href="http://twitter.com/amandaharlin">@amandaharlin</a>
      </div>

      <br class="clear"/>

      <h2 class="board">Board of Directors</h2>
      <h3>TBA</h3>
    </div>
  </section>



  <section id="guideline-wrapper">
    <div class="inner container">
      <h2>Group Participation Guidelines</h2>

      <p>
        Techlahoma collects donations to support user groups by
        purchasing equipment, food, and supplies.
      </p>
      <p>
        In order to qualify for support, groups need to meet about a particular topic/tech or have some otherwise
        concrete reason for meeting and they need at least 3 organizers or volunteers
        to make sure the group will thrive. Group leaders must accept and enforce the <a href="http://us.techlahoma.org/community/codeofconduct">Techlahoma Code of Conduct</a> (or another comprable CoC) and agree to be good community stewards.
      </p>
    </div>

  </section>
