---
title: Welcome to Techlahoma
---

<!-- Features Wrapper -->
<div id="features-wrapper">

	<!-- Features -->
		<section id="features" class="container">
			<header>
				<h2>Our community built with <strong>Your Support</strong>!</h2>
			</header>
			<div class="row">
				<div class="4u">

					<!-- Feature -->
						<section>
							<span href="#" class="image image-full"><img src="images/meets/proto1.jpg" alt="" /></span>
							<header>
								<h3>Mission</h3>
							</header>
							<p>We support Oklahoma's technologists, usergroups, and conferences through mentoring, finances, and training.</p>
						</section>

				</div>
				<div class="4u">

					<!-- Feature -->
						<section>
							<span href="#" class="image image-full"><img src="images/meets/proto2.jpg" alt="" /></span>
							<header>
								<h3>Resources</h3>
							</header>
							<p>Our community leaders have compiled documents to share our knowledge and ways to help you get involved!</p>
						</section>

				</div>
				<div class="4u">

					<!-- Feature -->
						<section>
							<span href="#" class="image image-full"><img src="images/meets/proto3.jpg" alt="" /></span>
							<header>
								<h3>Donate</h3>
							</header>
							<p>Your contributions help us bootstrap usergroups and events in Oklahoma. Please consider <a href= "https://donate.techlahoma.org">supporting the Techlahoma Foundation</a>.</p>
						</section>

				</div>
			</div>
		</section>

</div>


<!-- Banner Wrapper -->
	<div id="banner-wrapper">
		<div class="inner">

			<!-- Banner -->
				<section id="banner" class="container">
					<p>When we <strong>teach</strong> each other,<br />
					we succeed together.</p>
				</section>

		</div>
  </div>

  <section id="officer-wrapper">
    <div class="inner container">
      <h2>Officers</h2>
        <div class="row">
              <div class="officer 3u">
                <h3>President</h3>
                <h4>Jesse Harlin</h4>
                <a href="http://twitter.com/5imian">@5imian</a>
              </div>

              <div class="officer 3u">
                <h3>Vice President</h3>
                <h4>Rob Sullivan</h4>
                <a href="http://twitter.com/DataChomp">@DataChomp</a>
              </div>

              <div class="officer 3u">
                <h3>Treasurer</h3>
                <h4>Vance Lucas</h4>
                <a href="http://twitter.com/vlucas">@vlucas</a>
              </div>

              <div class="officer 3u">
                <h3>Secretary</h3>
                <h4>Amanda Harlin</h4>
                <a href="http://twitter.com/amandaharlin">@amandaharlin</a>
              </div>
        </div>

      <br class="clear"/>

      <h2 class="board">Board of Directors</h2>
			<div class="row">
				<div class="officer 3u">
					<h4>Jeremy Green</h4>
					<a href="http://twitter.com/jagthedrummer">@jagthedrummer</a>
				</div>
				<div class="officer 3u">
					<h4>Ryan Hoegg</h4>
					<a href="http://twitter.com/rhoegg">@rhoegg</a>
				</div>
				<div class="officer 3u">
					<h4>Luke Crouch</h4>
					<a href="http://twitter.com/groovecoder">@groovecoder</a>
				</div>
			</div>
    </div>
  </section>



  <section id="guideline-wrapper">
    <div class="inner container">
      <h2>Group Participation Guidelines</h2>

      <p>
        Techlahoma collects donations to support user groups by
        purchasing equipment, food, and supplies.
      </p>
      <p>
        In order to qualify for support, groups need to meet about a particular topic/tech or have some otherwise
        concrete reason for meeting and they need at least 3 organizers or volunteers
        to make sure the group will thrive. Group leaders must accept and enforce the <a href="coc.html">Techlahoma Code of Conduct</a> (or another comprable CoC) and agree to be good community stewards.
      </p>
    </div>

  </section>
