---
title: Welcome to Techlahoma
---

<!-- Features Wrapper -->
<div id="features-wrapper">

	<!-- Features -->
		<section id="features" class="container">
			<header>
				<h2>Our community built with <strong>Your Support</strong>!</h2>
			</header>
			<div class="row">
				<div class="4u">

					<!-- Feature -->
						<section>
							<a href="#" class="image image-full"><img src="images/meets/meeting1.jpg" alt="" /></a>
							<header>
								<h3>Mission</h3>
							</header>
							<p>Our aim is to make Oklahoma a centralized, habitable, tech hub for decades to come. Join us as we unite a community of makers!</p>
						</section>

				</div>
				<div class="4u">

					<!-- Feature -->
						<section>
							<a href="#" class="image image-full"><img src="images/meets/yoemanpic.jpg" alt="" /></a>
							<header>
								<h3>Resources</h3>
							</header>
							<p>With multiple events happening monthly, we play a part in hundreds of educational hours being brought into our community.</p>
						</section>

				</div>
				<div class="4u">

					<!-- Feature -->
						<section>
							<a href="#" class="image image-full"><img src="images/meets/panel.jpg" alt="" /></a>
							<header>
								<h3>Fireworks</h3>
							</header>
							<p>Your support and contributions helps us put on the premier web technology conference in Oklahoma - <a href= "http://thunderplainsconf.com/">Thunder Plains</a>.</p>
						</section>

				</div>
			</div>
		</section>

</div>


<!-- Banner Wrapper -->
	<div id="banner-wrapper">
		<div class="inner">

			<!-- Banner -->
				<section id="banner" class="container">
					<p>When we help each other <strong>learn together</strong>,<br />
					we end up suceeding together.</p>
				</section>

		</div>
	</div>
