---
title: Supporting Techlahoma
---

<div class="headline">
	<h2>How to help</h2>
</div>

<div id="banner-wrapper">
	<div class="inner">
		<section id="banner" class="container">
			<p>We rely on community members like <strong>you</strong> <br/>
				to accomplish our mission</p>
		</section>
	</div>
</div>

<div id="supporting-wrapper">
  <section id="kinds" class="container">
    <h2>Volunteer</h2>
    <p>There are many ways you can help by volunteering your time and talents to Techlahoma. You can help one of our user groups by helping organize meetings, giving presentations, or serving on their steering committees. You can help at one of our conferences by becoming a staff member, helping support the people traveling into town, and helping with the 1,001 things we have to do before and after the conference to make it a success. Finally you can help Techlahoma itself by finding and supporting the donors who sponsor our organization.</p>
    <h2>Donate</h2>
    <p>Techlahoma is entirely funded by community donations, and we appreciate the opportunity you provide to make Oklahoma's technical community one of our nation's strongest.</p>
    <p>You can make a donation <a href="https://donate.techlahoma.com/">online</a> at any time</p>
    <h2>Gifts</h2>
    <p>Your gift helps make Oklahoma's technical communities stronger.  To recognize your sponsorship, we
    offer these tokens of our appreciation:</p>
    <h3>$100: Employer Sponsorship</h3>
    <p>Sponsor one job listing on the Techlahoma Job Board <em>(coming soon)</em></p>
    <h3>$300: Meeting Sponsorship</h3>
    <p>Sponsor a user group meeting</p>
    <ul>
      <li>Opportunity to speak to the group at the beginning of the meeting</li>
      <li>Acknowledgement of your sponsorship in the meeting announcement, including a link to your web site</li>
    </ul>
  </section>
</div>