---
title: Supporting Techlahoma
---

<div id="banner-wrapper">
	<div class="inner">
		<section id="banner" class="container">
			<p>We rely on community members like <strong>you</strong> <br/>
				to accomplish our mission</p>
		</section>
	</div>
</div>
<div class="headline">
  <h2>How to Help:</h2>
</div>

<div id="supporting-wrapper">
  <section id="kinds" class="container">
    <h2>Volunteer</h2>
    <p>There are many ways you can help by volunteering your time and talents to Techlahoma. You can help one of our user groups by helping organize meetings, giving presentations, or serving on their steering committees. You can help at one of our conferences by becoming a staff member, helping support the people traveling into town, and helping with the 1,001 things we have to do before and after the conference to make it a success. Finally you can help Techlahoma itself by finding and supporting the donors who sponsor our organization.</p>
    <h2>Donate</h2>
    <p>Techlahoma is entirely funded by community donations, and we appreciate the opportunity you provide to make Oklahoma's technical community one of our nation's strongest.</p>
    <p>You can make a donation <a href="https://donate.techlahoma.com/">online</a> at any time</p>
  </section>
</div>

<div id="stronger-wrapper">
  <header id="stronger">
    <h2>Your gift helps make Oklahoma's technical communities <strong>stronger</strong>.</h2>
  </header>
</div>

<div id="levels-wrapper" class="row">
  <div class="12u">
    <section id="levels" class="container">
      <p>To recognize your sponsorship, we offer these tokens of our appreciation:</p>
      <div class="row">
        <ul class="icons 4u">
          <li class="fa fa-trophy">
            <header>
              <h3>Employer Sponsorship</h3>
              <span class="donation">$100</span>
            </header>
            <p>Sponsor one job listing on the Techlahoma Job Board <em>(coming soon)</em></p>
          </li>
        </ul>
        <ul class="icons 4u">
          <li class="fa fa-trophy">
            <header>
              <h3>Meeting Sponsorship</h3>
              <span class="donation">$300</span>
            </header>
            <p>Sponsor a user group meeting</p>
            <ul class="style1">
              <li>Opportunity to speak to the group at the beginning of the meeting
              </li>
              <li>Acknowledgement of your sponsorship in the meeting announcement, including a link to your web site
              </li>
            </ul>
          </li>
        </ul>
        <ul class="icons 4u">
          <li class="fa fa-trophy">
            <header>
              <h3>User Group Catalyst</h3>
              <span class="donation">$1000</span>
            </header>
            <p>Provide the means for a new user's group to get off the ground</p>
            <ul class="style1">
              <li>An opportunity to speak to the group at the first three meetings
              </li>
              <li>Acknowledgement of your sponsorship in the meeting announcements for the first year, including a link of your choosing
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <h3>Annual Levels</h3>
      <div class="row">
        <ul class="icons 4u">
          <li class="fa fa-trophy">
            <header>
              <h3>Sustaining</h3>
              <span class="donation">$1000</span>
            </header>
            <ul class="style1">
              <li>Acknowledgement of your sponsorship on the Techlahoma web site</li>
              <li>One job listing on the Techlahoma Job Board <em>(coming soon)</em></li>
              <li>Techlahoma sticker pack</li>
            </ul>
          </li>
        </ul>
        <ul class="icons 4u">
          <li class="fa fa-trophy">
            <header>
              <h3>Silver</h3>
              <span class="donation">$2000</span>
            </header>
            <ul class="style1">
              <li>Acknowledgement of your sponsorship on the Techlahoma web site</li>
              <li>Techlahoma sticker pack</li>
              <li>Three listings on the Techlahoma Job Board <em>(coming soon)</em></li>
              <li>Awesome plaque</li>
            </ul>
          </li>
        </ul>
        <ul class="icons 4u">
          <li class="fa fa-trophy">
            <header>
              <h3>Gold</h3>
              <span class="donation">$5000</span>
            </header>
            <ul class="style1">
              <li>Acknowledgement of your sponsorship on the Techlahoma web site</li>
              <li>Techlahoma sticker pack</li>
              <li>Two listings per month on the Techlahoma Job Board <em>(coming soon)</em></li>
              <li>Logo on Thunder Plains program</li>
              <li>Awesome plaque</li>
              <li>Two plates at the annual Techlahoma sponsor dinner</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="row">
        <ul class="icons 4u">
          <li class="fa fa-trophy">
            <header>
              <h3>Platinum</h3>
              <span class="donation">$10000</span>
            </header>
            <ul class="style1">
              <li>Acknowledgement of your sponsorship on the Techlahoma web site</li>
              <li>Techlahoma sticker pack</li>
              <li>Five listings per month on the Techlahoma Job Board <em>(coming soon)</em></li>
              <li>Logo on Thunder Plains program</li>
              <li>Awesome plaque</li>
              <li>VIP table at the annual Techlahoma sponsor dinner (seats 6)</li>
            </ul>
          </li>
        </ul>
      </div>

    </section>
  </div>
</div>